* {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

.idea {
  color: #00A79D;
}

.box {
  color: #6d6e71
}

.input-text {
  height: 24px;
  width: 60%;
  font-size: 18px;
  border: 1px solid;
  border-color: #939598;
}

.button {
  background-color: #00A79D;
  width: 60%;
  height: 24px;
  color: white;
  font-size: 16px;
  border: none;
}

.idea-title {
  color: #6D6E71;
}

#bg-color {
  background: #e5f3f2;
}

#center-div {
  text-align: center;
  margin: auto;
}

#title {
  padding-bottom: 14px;
}

#body {
  padding-bottom: 14px;
}

#button {
  padding-bottom: 15px;
}

#search {
  padding-top: 15px;
}

#ideas ul {
  width: 70%;
  display:inline-block;
  *display:inline;
  text-align: left

}

#my-ideas li {
  word-wrap: break-word;
  color: #939598;
}
